<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>658087920538-bh8973u8qhh5hjo2p94courem1lnda7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658087920538-bh8973u8qhh5hjo2p94courem1lnda7r</string>
	<key>API_KEY</key>
	<string>AIzaSyBLbIiBybcQ7Nt9S4yvoFggOkt3QIjJsuc</string>
	<key>GCM_SENDER_ID</key>
	<string>658087920538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lmu.ios09</string>
	<key>PROJECT_ID</key>
	<string>ios09-55bdf</string>
	<key>STORAGE_BUCKET</key>
	<string>ios09-55bdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658087920538:ios:ca6bd5d622ecf676</string>
	<key>DATABASE_URL</key>
	<string>https://ios09-55bdf.firebaseio.com</string>
</dict>
</plist>